.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/doc
.idea/
.navigation/
Timetable.iml
# build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
# images/
# pocketsphinx/
settings.gradle
wear/
mobile/proguard.jar
mobile/retrace.jar
mobile/proguard.trace

